footer.footer
    .footer__logo
        img(src='/img/logo-green.png' alt='Natours logo')
    ul.footer_nav
        li: a(href='#') About us
        li: a(href='#') Dowload app
        li: a(href='#') Conviertete en guia
        li: a(href='#') Careers
        li: a(href='#') Contacto
    p.footer_copyright &copy; by Jonas Schmedtman. Fell free to use